<% layout("/layouts/boilerplate") -%>
<div class="container mt-5">

  <div class="row justify-content-center mb-4">

    <form 
      action="/users/signup" 
      method="post"
      class="needs-validation col-11 col-sm-10 col-md-8 col-lg-5 border rounded shadow p-4 bg-light"
      novalidate
    >

      <h2 class="text-center mb-4">Sign Up</h2>

      <div class="mb-3">
        <label class="form-label">Username</label>

        <input 
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="Enter username"
          required
        >
      </div>

      <div class="mb-3">
        <label class="form-label">Email address</label>

        <input 
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Enter email"
          required
        >

        <div class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>

        <input 
           type="password"
            name="password"
            id="password"
          class="form-control"
          placeholder="Create password"
          required
        >
      </div>

      <div class="mb-3 form-check">
        <input 
          type="checkbox"
          class="form-check-input"
          id="exampleCheck1"
        >

        <label class="form-check-label" for="exampleCheck1">
          I agree to Terms & Conditions
          <a href="/users/login">Login</a>
        </label>
      </div>

      <button type="submit" class="btn btn-danger w-100">
        Create Account
      </button>

    </form>

  </div>

</div>